<template>
    <div class="container mt-5" id="home" style="text-align: center">
        <img :src="require('@/assets/indTexBr.png')">
        <h1 style="color: #de1242; font-size: 4em; margin-top: 0.2em;">IndTexBr</h1>
    </div>
</template>
    
<script>
    export default {
    }
</script>
    
<style lang="css">
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
};
</style> 