<template>
  <div class="row" >
    <div class="col-md-12">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Digite parte do código da norma"
            v-model="title"/>
          <div >
            <button class="form-control btn btn-sm btn-outline-secondary" type="button"
              @click="search"
            >
              Buscar repositório IndTex
            </button>
            <button v-if="isGestor"
              class="form-control btn btn-sm btn-outline-info" type="button"
              @click="searchRemote"
            >
              Consultar repositório externo
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <ul class="list-group">
        <li class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(norma, index) in tutorials"
          :key="index"
          @click="setActiveTutorial(norma, index)"
        >
          {{ norma.codigo }}
        </li>
      </ul>
      <hr/>
    </div>
    
    <div class="col-md-6 mt-3">
      <div v-if="currentTutorial">
        <h4>{{ currentTutorial.codigo }}</h4>
        <div>
          <label style="text-align:justify;">
            <strong>Título: </strong>{{ currentTutorial.titulo }}</label>
        </div>
        <div>
          <label><strong>Ano: </strong>{{ currentTutorial.ano }}</label> 
        </div>
        <div v-if="currentTutorial.tipoNorma">
          <label><strong>Tipo:</strong></label> {{ currentTutorial.tipoNorma == 'I' ? "Interna" : "Externa"}}
        </div>
        <div v-if="currentTutorial.statusNorma">
          <label><strong>Status:</strong></label> {{ currentTutorial.statusNorma == 'A' ? "Em Vigor" : "Revogada"}}
        </div>
        <div>
          <label style="text-align:justify;">
            <strong>Descrição: </strong>{{ currentTutorial.descricao }} </label> 
        </div>
        <div v-if="currentTutorial.dataImportacao">
          <label><strong>Data Importação:</strong></label> {{ new Date(currentTutorial.dataImportacao).toLocaleString("pt") }}
        </div>
        <div v-if="currentTutorial.dataInativacao">
          <label><strong>Data Revogação:</strong></label> {{ new Date(currentTutorial.dataInativacao).toLocaleString("pt") }}
        </div>

        <button v-if="currentTutorial.dataImportacao"
          class="m-1 btn btn-sm btn-info"
          @click="download">
          Baixar
        </button>

        <button v-if="!currentTutorial.dataImportacao"
          class="m-1 btn btn-sm btn-info"
          @click="add">
          Importar
        </button>

        <button v-if="currentTutorial.tipoNorma == 'I' && isGestor"
          class="m-1 btn btn-sm btn-success"
          @click="revoke">
          Revogar
        </button>
      </div>
      <div v-else>
        <br />
        <p>Selecione uma norma para visualizar os detalhes.</p>
      </div>
    </div>
  </div>
</template>

<script>
import NormaService from "../services/NormaService";

export default {
  name: "lista-normas",
  data() {
    return {
      tutorials: [],
      currentTutorial: null,
      currentIndex: -1,
      title: ""
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isGestor() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('SIGO_NORMAS_MANAGER');
      }

      return false;
    }
  },
  methods: {
    // retrieveTutorials() {
    //   NormaService.getAll()
    //     .then(response => {
    //       this.tutorials = response.data;
    //       console.log(response.data);
    //     })
    //     .catch(e => {
    //       console.log(e);
    //     });
    // },

    // refreshList() {
    //   this.retrieveTutorials();
    //   this.currentTutorial = null;
    //   this.currentIndex = -1;
    // },

    setActiveTutorial(tutorial, index) {
      this.currentTutorial = tutorial;
      this.currentIndex = index;
    },
    
    search() {
      this.currentTutorial = null;
      this.currentIndex = -1;
      NormaService.search(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    searchRemote() {
      this.currentTutorial = null;
      this.currentIndex = -1;
      NormaService.searchRemote(this.title)
        .then(response => {
          this.tutorials = response.data;
          console.log(response.data); 
        })
        .catch(e => {
          console.log(e);
        });
    },

    add() {
      NormaService.add(JSON.stringify(this.currentTutorial))
        // .then(response => {
        //   console.log(response.status);
        // })
        .catch(e => {
          if(e.response) console.error(e.response.data);  
          else console.error(e); 
        });
    },

    download() {
      //console.log(this.currentTutorial.codigoNorma);
      NormaService.download(this.currentTutorial.id)
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', `${this.currentTutorial.codigo}_${this.currentTutorial.ano}.pdf`);
          document.body.appendChild(link);
          link.click();
        })
        .catch(e => {
          console.log(e);
        });
    },

    revoke() {
      NormaService.inactivate(this.currentTutorial.id)
        .then(response => {
          this.currentTutorial.status = response.data.statusNorma;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },

  // mounted() {
  //   this.retrieveTutorials();
  //   this.flashmessage.success({time: 3000, title: "Success Message Title", message: "Hoorah, it is my fist npm package and it works!"});            
  // }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
