<template>
  <div class="row" >

    <div class="col-md-12">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Digite parte da descrição do processo"
            v-model="title"/>
          <div >
            <button class="form-control btn btn-sm btn-outline-secondary" type="button"
              @click="retrieveInstancias"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <ul class="list-group">
        <li class="list-group-item" style="background-color: #383; margin: 1px;"
          v-for="(instancia, index) in instancias"
          :key="index"
        >
          {{ instancia.descricao }}
        </li>
      </ul>
      <hr/>
    </div>
  </div>
</template>

<script>
import ProcessoService from "../services/ProcessoService";

export default {
  data() {
    return {
      instancias: []
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  methods: {
     retrieveInstancias() {
       ProcessoService.getAll()
         .then(response => {
           this.instancias = response.data;
           console.log(response.data);
         })
         .catch(e => {
           console.log(e);
         });
     }
  },

   mounted() {
     this.retrieveInstancias();
   }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
