<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">SIGO</router-link>
      <div v-if="currentUser" class="navbar-nav mr-auto">
        <li v-if="mostrarMenuNormas" class="nav-item">
          <router-link to="/normas" class="nav-link">Normas</router-link>
        </li>
        <li v-if="mostrarMenuProcessos" class="nav-item">
          <router-link to="/processos" class="nav-link">Processos</router-link>
        </li>
      </div>

      <div v-if="!currentUser" class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <router-link to="/register" class="nav-link">
            <font-awesome-icon icon="user-plus" />Sign Up
          </router-link>
        </li> -->
        <li class="nav-item">
          <router-link to="/login" class="nav-link">
            <font-awesome-icon icon="sign-in-alt" />  Entrar
          </router-link>
        </li>
      </div>

      <div v-if="currentUser" class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <router-link to="/profile" class="nav-link">
            <font-awesome-icon icon="user" />
            {{ currentUser.username }}
          </router-link>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href @click.prevent="logOut">
            <font-awesome-icon icon="sign-out-alt" />  Sair
          </a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    mostrarMenuNormas() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('SIGO_NORMAS_MANAGER') ||
        this.currentUser.roles.includes('SIGO_NORMAS_USER');
      }

      return false;
    },
    mostrarMenuProcessos() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('SIGO_GESTAO_INDUSTRIAL_USER');
      }

      return false;
    }
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
};
</script>
